<!DOCTYPE html>
<html lang="pt-br">

<link rel="stylesheet" href="css/cadastro.css">
<head>
    <%- include('head')%>
    <title>Cadastro</title>
</head>
<body>
    <%- include('navbar')%>
    <div class="container">
        <div class="form">
            <form>
                <div class="form-header p-5">
                    <div class="title">
                        <h1>Cadastre-se</h1>
                    </div>
                    <div class="login-button">
                        <button><a href="#">Entrar</a></button>
                    </div>
                </div>

                <div class="input-group">
                    <div class="input-box">
                        <label for="name">Nome</label>
                        <input id="name" type="text" name="name" placeholder="Digite seu nome" required>
                    </div>

                    <div class="input-box">
                        <label for="email">Email</label>
                        <input id="email" type="email" name="email" placeholder="Digite seu email" required>
                    </div>

                    <div class="input-box">
                        <label for="password">Senha</label>
                        <input id="password" type="password" name="password" placeholder="Digite sua senha" required>
                    </div>
                </div>

                <div class="continue-button">
                    <button><a href="#">Continuar</a></button>
                </div>
            </form>
        </div>
    
    </div>
</body>
</html>