<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('head')%>
    <title>HelpGarage</title>
  
</head>
<body>
  <header>
    <div class="container" id="nav-container"></div>
        <%- include('navbar')%>
    </div>
  </header>
  <main>
   <div id="about-area">
    <div class="container">
        <div class="row">
            <div class=" col-12">
                <h2 class="main-title">Bem Vindo a HelpGarage</h2>
            </div>
            <div class=" col-md-6">
                <img class="img-fluid" src="img/icon.png" alt="">
            </div>
            <div class=" col-md-6">
                <h2 class="about-title">Aqui você encontra tudo que precisa!</h2>
                <ul id="about-list">
                    <li><i class="fas fa-check"></i>Oficinas com melhor avaliação</li>
                    <li><i class="fas fa-check"></i>Encontre as mais próximas de você</li>
                    <li><i class="fas fa-check"></i>Qualidade garantida</li>
                </ul>
                <a href="#" id="btn" class="btn mt-5 shadow" style="">Cadastrar</a>
            </div>
        </div>
        
    </div>
   </div>
   
  </main>
    

</body>
</html>