<nav class="navbar navbar-expand lg fixed-top px-4 shadow-sm p-3 mb-5  rounded">
    <a href="home" class="navbar-brand">
        <img id="logo" src="img/helpgarage_logo.png" alt="HelpGarage logo"> HelpGarage
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-links" aria-controls="navbar-lnks" 
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbar-links">
        <div class="navbar-nav">
            <a href="/home" class="nav-item nav-link" id="home-menu">HOME</a>
            <a href="/login" class="nav-item nav-link" id="login-menu">LOGIN</a>
            <a href="/cadastro" class="nav-item nav-link" id="cadastro-menu">CADASTRO</a>
        </div>            
    </div>
</nav>


    
